OPENAI_API_KEY=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
BASE_URL=http://localhost:5000

CHAINLIT_CUSTOM_AUTH=true
CHAINLIT_AUTH_SECRET="YOUR_SECRET_HERE"